<div class="calculator-fields panel-body">
  <div class="form-group field alpha omega eight columns products_rule_products">
    <%= label_tag "#{param_prefix}_variant_ids_string", Spree.t('product_rule.choose_variants') %>
    <%= hidden_field_tag "#{param_prefix}[variant_ids_string]", promotion_action.variant_ids.join(","), :class => "variant_picker fullwidth" %>
  </div>

  <div class="form-group field alpha four columns">
    <% field_name = "#{param_prefix}[calculator_type]" %>
    <%= label_tag field_name, Spree.t(:calculator) %>
    <%= select_tag field_name,
                  options_from_collection_for_select(Spree::Promotion::Actions::CreateItemAdjustments.calculators, :to_s, :description, promotion_action.calculator.type),
                  :class => 'type-select select2 fullwidth' %>
    <% if promotion_action.calculator.respond_to?(:preferences) %>
      <span class="warning info"><%= Spree.t(:calculator_settings_warning) %></span>
    <% end %>
  </div>

  <div class="form-group settings field omega four columns">
    <% promotion_action.calculator.preferences.keys.map do |key| %>
      <% field_name = "#{param_prefix}[calculator_attributes][preferred_#{key}]" %>
      <%= label_tag field_name, Spree.t(key.to_s) %>
      <%= preference_field_tag(field_name,
                              promotion_action.calculator.get_preference(key),
                              :type => promotion_action.calculator.preference_type(key)) %>
    <% end %>
    <%= hidden_field_tag "#{param_prefix}[calculator_attributes][id]", promotion_action.calculator.id %>
  </div>
</div>

<script>
  $('.variant_picker').variantPicker();
</script>
